---
const { title, items=[] } = Astro.props;
---
<section class="section">
  <h2 class="hl">{title}</h2>
  <div class="grid-2">
    {items.map(x=>(
      <article class="card reveal" data-tilt>
        <h3>{x.name}</h3>
        <p style="opacity:.85">{x.desc}</p>
        <div><strong>+ USD {x.usd}</strong></div>
      </article>
    ))}
  </div>
</section>
